//footer
.footer {
  background-color: #242424;
  color: white;
  display: block;
  text-align: center;
  padding: 4rem 0;
  @include tablet {
    text-align: left;
  }
  .container {
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

.copyright {
  line-height: 0.8rem;
  padding-bottom: 0.5rem;
  text-align: center;

  line-height: 1rem;
  @include desktop {
    font-size: 1.2rem;
  }
  p {
    padding-bottom: 0.2rem;
  }
}

.address {
  color: #969696;
}

.contact-info {
  padding-bottom: 0.5rem;

  text-align: center;
  @include desktop {
    font-size: 1.2rem;
  }
}
